
@{
    ViewData["Title"] = "Game";
}

<h2>Game</h2>
<body onload="LoadGame()">
    <button id="button" onclick="LoadGame()"></button>
    <div> Hello : </div>
    <div name="users_div">
        <ol id="users_list">
            <li> Trash </li>
        </ol>
    </div>

</body>